html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 245, 241, 0.502);
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

/* ============= */
/* TEMP ======= */
/* ============= */

#temp-img {
    width: 200px;
}

.sect-top {
    margin-top: 35px;
}

.sect-heading {
    margin-top: 10px;
}

section {
    margin: 0;
}

section:last-of-type{
    margin-bottom:50px;
}

.coin-img {
    width: 35px;
    height: 35px;
}

.coin-ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.coin-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ============= */
/* FONTS ======= */
/* ============= */

.quicksand-btn {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    font-style: normal;
}

.quicksand-sub {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.quicksand-body{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.sub-title {
    margin-top: 15px;
}

.quicksand-head {
    color: #03968B;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.quicksand-link {
    color: #03968B;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1em;
    font-style: normal;
    text-decoration: underline;
    margin: 0;
}

.quicksand-nav {
    font-family: "Quicksand", sans-serif;
    font-size: 0.95em;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}





/* ============= */
/* BUTTONS ===== */
/* ============= */

.button {
    padding: 10px 0px;
    border-radius: 7px;
    margin: 0;
    cursor: pointer;
}

.btn-red {
    color: white;
    background-color: #ca445d;
    border: #ca445d solid 1.5px;
}

.btn-outline {
    border: #ca445d solid 1.5px;
    background-color: transparent;
    color: rgb(144, 144, 144);
}

.btn-white {
    color: rgb(144, 144, 144);
    background-color: white;
    border: white solid 1.5px;
}

.btn-big {
    width: 150px;
}

.btn-small {
    width: 100px;
}





/* ============= */
/* CARDS ======= */
/* ============= */

.card {
    height: 260px;
    width: 260px;
    border-radius: 40px;
}

.btn-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.no-btn-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 40px;
}

.card-sect {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-yellow {
    background-color: #F6A723CC;
    color: white;
}

.card-blue {
    background-color: #0faaa0;
    color: white;
}

.card-outline {
    background-color: transparent;
    border: #ca445d solid 1px;
    color: #909090;
}

.outline-cont {
    color: rgb(144, 144, 144);
}

.outline-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.outline-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border-radius: 12px;
    padding: 26px;
    border: #ca445d solid 1.5px;
    background-color: transparent;
}

.outline-card:hover{
    cursor:pointer!important;
}

.card-img {
    width: 180px;
}

.birth-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}





/* ============= */
/* SLIDESHOW === */
/* ============= */

.container:has(.scroll-wrap){
    padding-right:0px;
    
}

.scroll-wrap {
    height: 190px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 20px;
}

.scroll-wrap::-webkit-scrollbar {
    display: none;
}

.scroll-card {
    background-image: url("../images/placeholder.jpg");
    background-size: contain;
    height: 160px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
    overflow: hidden;
}

.scroll-card:hover{
    cursor:pointer;
}

.scroll-heading {
    padding: 10px 10px 10px 10px;
    width: 100%;
    background-color: white;
    color: rgb(144, 144, 144);
}

/* ============= */
/* CARDS ===== */
/* ============= */
.definition-card{
    background:#F6A723;
    padding:20px;
    width:100%;
    border-radius:20px;
    margin-bottom:20px;
}

.definition-card:hover{
    cursor:pointer;
}

/* ============= */
/* TOP NAV ===== */
/* ============= */

.top-bar-cont {
    background-color: #ca445d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.top-profile {
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ============= */
/* BOTTOM NAV == */
/* ============= */

nav {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.25);
    box-shadow: 0px -4px 9px -4px rgba(0,0,0,0.25);
    position: fixed;
    bottom: 0;
    width:100%;
}

.nav-bar {
    padding-left:0px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-element {
    color: rgb(144, 144, 144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

.nav-element:hover{
    cursor:pointer;
}

